---
---
@import '@primer/css/utilities/index.scss';
@import 'highlight-syntax';


// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
}

.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1, h2, h3, h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
  }
}

.reslink { 
 a:link {font-size:16px; color:White}
 a:visited {font-size:16px; color:White}
 a:hover {font-size:16px; color:#B0E0E6}
}

.min-height-full {
  min-height: 100vh;
}
